.container {
  width: 100%;
  margin-bottom: 20px;
}

.navbar-text {
  font-family: fantasy;
  font-weight: bold;
  color: rgb(5, 12, 19);
  font-size: 2em;
}

.score {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
}